{% extends "base.twig" %}

{% block content %}
	<h1>Contact page</h1>
	<div class="container">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id																																								      culpa, totam recusandae.
	</div>
	<br>

	<div class="container">
		<form method="POST" action="/contact">
			{% if success %}
				<div class="alert alert-success">{{success}}</div>
			{% endif %}
			{% if error %}
				<div class="alert alert-danger">{{error}}</div>
			{% endif %}

			<div class="mb-3">
				<label for="email" class="form-label">Email address :</label>
				<input type="email" class="form-control" id="email" name="email">

				{% if formError.email %}
					<ul class="error">
						<li>{{formError.email.message}}</li>
					</ul>
				{% endif %}


			</div>
			<div class=" mb-3">
				<label for="subject" class="form-label">Subject :</label>
				<input type="subject" name="subject" class="form-control" id="subject">
				{% if formError.subject %}
					<ul class="error">
						<li>{{formError.subject.message}}</li>
					</ul>
				{% endif %}
			</div>
			<div
				class="mb-3">
				{# <input for="message" class="form-label" id="message"> #}
				<textarea class="form-control" name="message" id="message" rows="4"></textarea>
				{% if formError.message %}
					<ul class="error">
						<li>{{formError.message.message}}</li>
					</ul>
				{% endif %}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
{% endblock %}
